ion-content{
  --padding-top:-50px;
}
ion-icon {
  font-size: 30px;
}
ion-searchbar{
  width: 290px;
}

ion-button{
  --background:rgb(255, 255, 255);
  margin-top: -2px;
  z-index: -1;
  ion-icon{
    color: black;
    font-size: 30px;
    top: 0;
  }
}


#card{


  ion-text p{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
  }

}
ion-avatar{
  display: flex;
  margin-left: 115px;
  flex-direction: column;
  align-items: center;
 
  
}
ion-segment{
  --background:#fff;
  // border: 1px solid white;
  // box-shadow: 1px 2px 2px 1px #adacac;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;

}

ion-card{
  margin-bottom: -15px;
}